[submodule "src/ml_manager"]
	path = src/ml_manager
	url = git@github.com:masouduut94/volleyball-ml-models.git

[submodule "src/backend"]
    path = src/backend
    url = git@github.com:masouduut94/volleyball-backend.git