opencv-python~=4.8.1.78
numpy~=1.24.3
pandas~=2.1.3
tqdm~=4.66.1
torch~=2.1.1+cu118
pytorchvideo~=0.1.5
torchvision~=0.16.1+cu118
transformers~=4.35.2
imageio~=2.32.0
matplotlib~=3.8.1
seaborn~=0.13.0
scikit-learn~=1.3.2
ultralytics~=8.0.209