
# -r requirements/system_requirements.txt

# -r requirements/video_requirements.txt

# DB
psycopg2-binary>=2.9.7

# Utils
dataclasses-json

# Date/time
tzlocal>=5.0.1

# Messaging
pika>=1.3.2
pyTelegramBotAPI>=4.14.0

# GUI
PyQt6==6.6.0
PyQt6-Qt6==6.6.0
PyQt6-sip==13.6.0
PyQt6-DataVisualization==6.6.0
PyQt6-3D==6.6.0
PyQt6-Charts==6.6.0
vpython>=7.6.4

# Multithreading/concurrency
Rx>=3.2.0

# -r requirements/pre_ml_requirements.txt

# -r requirements/ml_requirements.txt

# Typing
# typing-extensions>=4.8.0
typing-extensions
opencv-stubs>=0.0.8
mypy>=1.5.1
mypy-extensions==1.0.0

# Testing
pytest

# Optional/Old
# moviepy>=1.0.3
# pysftp>=0.2.9
# python-vlc>=3.0.18122

# -r requirements/experiments_requirements.txt

# Visualization
pydot
pygraphviz
networkx
