# ML
onnx>=1.14.1
onnxruntime>=1.16.0
# speechbrain>=0.5.15
pandas>=2.1.1  # TODO: replace with numpy in prod code
ultralytics==8.0.188
-e git+https://github.com/NVIDIA-AI-IOT/torch2trt#egg=torch2trt==0.4.0
-e git+https://github.com/NVIDIA-AI-IOT/trt_pose#egg=trt-pose==0.0.1
filterpy==1.4.5
-e git+https://github.com/facebookresearch/detectron2.git@1bc3a33a71991142c2c67bc99e1559d6101fb009#egg=detectron2
norfair==2.2.0
nvidia-ml-py==12.535.133
